{% extends "blog/base.html" %}
{% block post_detail_link %}<li><a href='{% url "blog:list" %}'>Blog</a></li>{% endblock %}
{% block content %}

<form method='GET' action='' class='form-inline'>
        <div class="form-group">
            <h1>{{ title }}</h1>
        </div>
        <div class='form-group'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Cari Artikel' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Cari <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>
<hr>
<div class="row">
{% for obj in object_list %}

  <div class="col-sm-3">
    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <p>{{ obj.publish|date:"M d, Y" }}</p>
        <a href='{{ obj.get_absolute_url }}'><h3 style="padding: 15px 0">{{ obj.title }}</h3></a>
        {{ obj.get_markdown|truncatechars_html:100 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-custom" role="button">Read</a></p>
        <!-- <hr>
        {% if obj.author.get_full_name %}<p>Author: {{ obj.author.get_full_name }}</p>{% endif %} -->
      </div>
    </div>
  </div>

{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>



{% endblock content %}